In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
data_df = pd.read_csv('./data/NAPS_valence_arousal_2014.csv', sep=';')
data_df.head()

              ID Category  Nr V_H Description Valence Arousal
0  Animals_001_h  Animals   1   h  Dead Stork    2,57    6,44
1  Animals_002_v  Animals   2   v        Lion    6,24    6,68
2  Animals_003_h  Animals   3   h       Snake    5,24    5,52
3  Animals_004_v  Animals   4   v        Wolf    4,50    7,02
4  Animals_005_h  Animals   5   h         Bat    5,31    5,82

In [4]:
data_df['Valence_float'] = data_df['Valence'].map(lambda x: float(x.replace(',','.')))
data_df['Arousal_float'] = data_df['Arousal'].map(lambda x: float(x.replace(',','.')))

data_df.describe()

                Nr  Valence_float  Arousal_float
count  1356.000000    1356.000000    1356.000000
mean    144.870944       5.391947       5.101881
std      92.428420       1.628732       1.058333
min       1.000000       1.330000       2.040000
25%      68.000000       4.060000       4.430000
50%     136.000000       5.660000       4.980000
75%     208.250000       6.772500       5.820000
max     372.000000       8.540000       8.050000

In [5]:
def mapping(x, labels, series, percentile_width):
        for i in range(len(labels)):
            if x < series.quantile((i + 1) * percentile_width):
                return labels[i]

def divide_into(labels, series):
    range = series.max() - series.min()
    percentile_width = 1 / len(labels)
    
    return series.map(lambda x: mapping(x, labels, series, percentile_width))

data_df['Valence_class'] = divide_into(['low', 'medium', 'high'], data_df['Valence_float'])
data_df['Arousal_class'] = divide_into(['low', 'medium', 'high'], data_df['Arousal_float'])

data_df.head(10)

,ID,Category,Nr,V_H,Description,Valence,Arousal,Valence_float,Arousal_float,Valence_class,Arousal_class
0,Animals_001_h,Animals,1,h,Dead Stork,"2,57","6,44",2.57,6.44,low,high
1,Animals_002_v,Animals,2,v,Lion,"6,24","6,68",6.24,6.68,medium,high
2,Animals_003_h,Animals,3,h,Snake,"5,24","5,52",5.24,5.52,medium,medium
3,Animals_004_v,Animals,4,v,Wolf,"4,50","7,02",4.50,7.02,low,high
4,Animals_005_h,Animals,5,h,Bat,"5,31","5,82",5.31,5.82,medium,high
5,Animals_006_v,Animals,6,v,Snake,"5,13","6,23",5.13,6.23,medium,high
6,Animals_007_h,Animals,7,h,Wolf,"4,76","7,06",4.76,7.06,medium,high
7,Animals_008_v,Animals,8,v,Fighting Chickens,"2,63","6,80",2.63,6.80,low,high
8,Animals_009_v,Animals,9,v,Cat,"5,79","5,61",5.79,5.61,medium,high
9,Animals_010_h,Animals,10,h,Sick Kitten,"4,59","5,90",4.59,5.90,low,high

In [15]:
classification_data = data_df.filter(items=['ID', 'Valence_class', 'Arousal_class'])
classification_data.head()

              ID Valence_class Arousal_class
0  Animals_001_h           low          high
1  Animals_002_v        medium          high
2  Animals_003_h        medium        medium
3  Animals_004_v           low          high
4  Animals_005_h        medium          high

In [113]:
from os import listdir
import time
import datetime
import re
data_base_dir = './data/2018-afcai-spring/'

def read_filenames_regex(regex, dir):
    return list(filter(lambda filename: re.match(regex, filename), listdir(dir)))
    

    
def read_showed_images_file(dir_name):
    dir = data_base_dir + dir_name + '/'
    ts_filename = read_filenames_regex('.*timestamp.csv', dir)
    all_ts_file = pd.read_csv(dir + ts_filename[0], names=['filename', 'datetime'])
    without_trail = all_ts_file.loc[all_ts_file.iloc[:,0].str.contains(r'^((?!trail).)*$')]
    without_trail['id'] = without_trail['filename'].map(lambda x: re.search('[a-zA-Z]*_[0-9]*_[a-z]', x).group(0))
    without_trail['timestamp'] = without_trail['datetime'].map(lambda dt: int(datetime.datetime.strptime(dt, "%Y-%m-%d %H:%M:%S.%f").timestamp()*1000))
    return without_trail.filter(items=['id', 'timestamp'])
    
    
read_showed_images_file('B303').head()

C:\Users\mateu\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:16: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  app.launch_new_instance()
C:\Users\mateu\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mateu\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

                  id      timestamp
6   Landscapes_097_v  1520846027691
7   Landscapes_049_h  1520846038694
8      Objects_160_h  1520846049703
9      Animals_056_h  1520846060662
10      People_038_h  1520846071673

In [139]:
def read_bitalino_bpm(dir_name):
    dir = data_base_dir + dir_name + '/BITalino/'
    bpm_file = dir + read_filenames_regex('.*BPM.*', dir)[0]
    return pd.read_csv(bpm_file)

def read_bitalino_gsr(dir_name):
    dir = data_base_dir + dir_name + '/BITalino/'
    bpm_file = dir + read_filenames_regex('.*GSR.*', dir)[0]
    return pd.read_csv(bpm_file)

def read_person_data_from(dir_name, process_function):
    if dir_name[0] == 'B':
        gsr = process_function(read_bitalino_gsr(dir_name))
        bpm = process_function(read_bitalino_bpm(dir_name))
    showed_images = read_showed_images_file(dir_name)
    return {'images': showed_images, 'bpm': bpm, 'gsr': gsr}
    
def mean_for(millis, ts_val_df):
    ts_val_df['timestamp'] = ts_val_df['timestamp'].map(lambda x: int(x/1000))
    return ts_val_df
    
def one_sec_mean(ts_val_df):
    return mean_for(1000, ts_val_df)

identity = lambda x: x
    
    
person_data = read_person_data_from('B303', identity)
person_data['bpm'].head()

C:\Users\mateu\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:16: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  app.launch_new_instance()
C:\Users\mateu\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mateu\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

       timestamp   value
0  1520845822529   528.0
1  1520845822530   525.0
2  1520845822531   520.0
3  1520845822532   514.0
4  1520845822533   508.0

In [134]:
bitalino_dirs = read_filenames_regex('B.*', data_base_dir)
bitalino_data = list(map(lambda x: read_person_data_from(x) ,bitalino_dirs))

C:\Users\mateu\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:16: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  app.launch_new_instance()
C:\Users\mateu\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\mateu\AppData\Local\Programs\Python\Python36\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [135]:
bitalino_data[0]

{'bpm':             timestamp   value
 0       1520845822529   528.0
 1       1520845822530   525.0
 2       1520845822531   520.0
 3       1520845822532   514.0
 4       1520845822533   508.0
 5       1520845822534   502.0
 6       1520845822535   496.0
 7       1520845822536   492.0
 8       1520845822537   488.0
 9       1520845822538   486.0
 10      1520845822539   483.0
 11      1520845822540   482.0
 12      1520845822541   481.0
 13      1520845822542   479.0
 14      1520845822543   476.0
 15      1520845822544   473.0
 16      1520845822545   471.0
 17      1520845822546   469.0
 18      1520845822547   467.0
 19      1520845822548   465.0
 20      1520845822549   463.0
 21      1520845822550   462.0
 22      1520845822551   461.0
 23      1520845822552   460.0
 24      1520845822553   460.0
 25      1520845822554   461.0
 26      1520845822555   461.0
 27      1520845822556   461.0
 28      1520845822557   462.0
 29      1520845822558   462.0
 ...               ...     ...
 638970  1520846461499   536.0
 638971  1520846461500   538.0
 638972  1520846461501   540.0
 638973  1520846461502   542.0
 638974  1520846461503   544.0
 638975  1520846461504   547.0
 638976  1520846461505   547.0
 638977  1520846461506   546.0
 638978  1520846461507   544.0
 638979  1520846461508   542.0
 638980  1520846461509   541.0
 638981  1520846461510   540.0
 638982  1520846461511   540.0
 638983  1520846461512   539.0
 638984  1520846461513   538.0
 638985  1520846461514   538.0
 638986  1520846461515   539.0
 638987  1520846461516   543.0
 638988  1520846461517   547.0
 638989  1520846461518   551.0
 638990  1520846461519   555.0
 638991  1520846461520   558.0
 638992  1520846461521   561.0
 638993  1520846461522   565.0
 638994  1520846461523   569.0
 638995  1520846461524   572.0
 638996  1520846461525   574.0
 638997  1520846461526   575.0
 638998  1520846461527   574.0
 638999  1520846461528   572.0

 [639000 rows x 2 columns], 'gsr':             timestamp   value
 0       1520845822529   186.0
 1       1520845822530   187.0
 2       1520845822531   186.0
 3       1520845822532   187.0
 4       1520845822533   186.0
 5       1520845822534   187.0
 6       1520845822535   186.0
 7       1520845822536   187.0
 8       1520845822537   186.0
 9       1520845822538   188.0
 10      1520845822539   187.0
 11      1520845822540   188.0
 12      1520845822541   187.0
 13      1520845822542   188.0
 14      1520845822543   187.0
 15      1520845822544   188.0
 16      1520845822545   187.0
 17      1520845822546   188.0
 18      1520845822547   187.0
 19      1520845822548   188.0
 20      1520845822549   187.0
 21      1520845822550   187.0
 22      1520845822551   187.0
 23      1520845822552   187.0
 24      1520845822553   187.0
 25      1520845822554   187.0
 26      1520845822555   187.0
 27      1520845822556   187.0
 28      1520845822557   187.0
 29      1520845822558   187.0
 ...               ...     ...
 638970  1520846461499   255.0
 638971  1520846461500   254.0
 638972  1520846461501   254.0
 638973  1520846461502   255.0
 638974  1520846461503   254.0
 638975  1520846461504   254.0
 638976  1520846461505   254.0
 638977  1520846461506   255.0
 638978  1520846461507   255.0
 638979  1520846461508   254.0
 638980  1520846461509   255.0
 638981  1520846461510   255.0
 638982  1520846461511   255.0
 638983  1520846461512   254.0
 638984  1520846461513   255.0
 638985  1520846461514   255.0
 638986  1520846461515   255.0
 638987  1520846461516   254.0
 638988  1520846461517   254.0
 638989  1520846461518   255.0
 638990  1520846461519   255.0
 638991  1520846461520   254.0
 638992  1520846461521   254.0
 638993  1520846461522   255.0
 638994  1520846461523   254.0
 638995  1520846461524   254.0
 638996  1520846461525   254.0
 638997  1520846461526   255.0
 638998  1520846461527   255.0
 638999  1520846461528   255.0

 [639000 rows x 2 columns], 'images':                   id      timestamp
 6   Landscapes_097_v  1520846027691
 7   Landscapes_049_h  1520846038694
 8      Objects_160_h  1520846049703
 9      Animals_056_h  1520846060662
 10      People_038_h  1520846071673
 11      People_130_h  1520846082683
 12  Landscapes_050_h  1520846093679
 13  Landscapes_104_h  1520846104676
 14     Animals_020_h  1520846115672
 15  Landscapes_067_h  1520846126683
 16  Landscapes_103_v  1520846137683
 17      People_208_h  1520846148676
 18       Faces_159_h  1520846159689
 19     Animals_090_h  1520846170691
 20       Faces_134_h  1520846181681
 21       Faces_234_h  1520846192668
 22  Landscapes_054_h  1520846203684
 23     Animals_035_h  1520846214685
 24     Objects_014_h  1520846255697
 25      People_028_h  1520846266684
 26  Landscapes_120_v  1520846277690
 27       Faces_149_v  1520846288692
 28      People_198_h  1520846299689
 29      People_211_v  1520846310701
 30     Objects_046_h  1520846321691
 31       Faces_008_h  1520846332696
 32     Objects_186_v  1520846343687
 33  Landscapes_123_h  1520846354696
 34     Objects_001_h  1520846365668
 35     Objects_146_h  1520846376680
 36      People_110_h  1520846387677
 37      People_201_v  1520846398677
 38      People_127_h  1520846409679
 39  Landscapes_061_h  1520846420683
 40       Faces_202_v  1520846431680
 41     Objects_132_h  1520846442684}